* {
  box-sizing: border-box;
}

.hero-container {
  background-image: url("../public/assets/img/homebg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.logo {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.navbar {
  /* border: 2px solid rgb(207, 68, 68); */
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 34px;

  cursor: pointer;

  font-size: 15px;
  font-weight: 600;

  line-height: 1.5em;

  color: #ffffff;
}
.hero-items {
  /* border: 2px solid rgb(207, 68, 68); */
  margin-left: 60px;
  margin-top: 120px;
}
.hero-title p {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 31px;
  letter-spacing: 2px;
  line-height: 1.1em;
  margin-bottom: 0;
}
.hero-title h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway", Sans-serif;
  font-size: 200px;
  line-height: 1px;
  margin-top: 90px;
  margin-bottom: 90px;
  margin-right: 30px;
}

.hero-icon {
  margin-left: 880px;
  margin-top: 1px;
  font-size: 70px;

  color: #ffffff;
  /* border: 2px solid rgb(207, 68, 68); */
}
.para {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  width: 450px;
  margin-left: 680px;
  margin-bottom: 50px;
}
.btn {
  border-radius: 55px;
  width: 180px;
  height: 60px;
  cursor: pointer;
  position: relative;
}
.btn:hover {
  background-color: gray;
}

/* HERO SECTION + NAVBAR COMPONENT */

/* INTO SECITION 
*/
.intro-container {
  background-image: url("../public/assets/img/img2.jpg");
  background-repeat: no-repeat;
  height: 100vh;

  /* border: solid rgb(87, 215, 48) 2px; */
  padding: 100px;
}
.tittle {
  font-size: 51px;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 2.04px;
  /* border: 2px solid rgb(207, 68, 68); */
}

.intro-icon {
  margin-left: 595px;
  bottom: 45px;

  color: rgb(144, 179, 81);
  /* border: 2px solid rgb(207, 68, 68); */
}
.intro {
  /* border: 2px solid rgb(207, 68, 68); */
}
.intro h3 {
  color: #2f2c2f;
  font-size: 22px;
  font-weight: 400;
  line-height: 34.98px;
  letter-spacing: 0.44px;
  width: 500px;
  margin-left: 600px;

  /* border: 2px solid rgb(207, 68, 68); */
}
.intro p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.48px;
  width: 530px;
  margin-left: 600px;
}
/* service SECITION 
*/
.service-container {
  background-image: url("../public/assets/img/img3.jpg");
  background-repeat: no-repeat;
  height: 110vh;
  border: 2px solid rgb(207, 68, 68);
}
.service-icon {
  margin-left: 1180px;
  bottom: 45px;

  color: rgb(144, 179, 81);
}
